.cardType-wrapper {
	align-items: stretch;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
	margin-top: 20px;
	padding-inline-start: 0;
}

.cardType {
	background-color: #f3f3f3;
	border: 8px solid #fff;
	border-radius: 14px;
	box-shadow: 0 2px 4px -2px rgb(0 0 0 / 25%);
}

.cardType--info {
	border: 4px solid #375caa;
	border-radius: 12px;
	margin: 40px 15px 15px 15px;
	min-height: 200px;
	padding: 15px;
	position: relative;
}

.cardType--hero {
	align-items: center;
	background-color: #ffcc01;
	border-radius: 8px;
	display: inline-flex;
	gap: 10px;
	padding: 10px;
	position: absolute;
	text-decoration: none;
	transition: all .3e ease-in-out;
	top: -30px;
}

.cardType--hero:hover {
	background-color: #375caa;
}

.cardType--title {
	color: #fff;
	font-size: 1.6rem;
	margin: 0;
	text-transform: uppercase;
}

.cardType--desc {
	margin: 30px 0 0;
}

.cardType--panel {
	border-radius: 12px;
	margin: 15px;
	padding: 15px;
	background-color: #fff;
}

.cardType--label {
	color: #375caa;
	font-size: 12px;
	font-weight: bolder;
	margin: 0 0 15px 0;
	text-transform: uppercase;
}

.cardType--list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cardType--list>li {
	display: inline-block;
	margin: 0 5px 0 0;
	line-height: 1.5rem;
	text-transform: capitalize;
}

.more-btn {
	border-radius: 6px;
	color: #fff;
	padding: 12px;
	text-decoration: none;
	transition: all .3s ease-in-out;
	margin-top: 15px;
	display: block;
	text-align: center;
	background-color: #ffcc01;
}

.more-btn:hover {
	background-color: #375caa;
	color: #fff;
}

.cardType-wrapper {
	align-items: baseline;
}

@media screen and (max-width: 767px) {
	.cardType--info {
		min-height: auto;
	}

}