#pokedex {
	align-items: stretch;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	grid-gap: 20px;
	margin-top: 20px;
	padding-inline-start: 0;
}

.card {
	background-color: #fff;
	border-radius: 14px;
	box-shadow: 0 2px 4px -2px rgb(0 0 0 / 25%);
	color: #000;
	padding: 8px;
	position: relative;
}

.card--inner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-radius: 10px;
	padding: 10px;
}

.header--image-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
}

.header--profile {
	display: flex;
	justify-content: space-between;
}

.card--main.dark-bg {
	color: #fff;
	text-shadow: 1px 1px 0px rgb(0 0 0 / 40%);
}

.card--pokemon-id {
	background-color: #ffcc01;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	color: #385caa;
	position: absolute;
	font-size: 12px;
	left: 8px;
	padding: 5px 10px 5px 5px;
	top: 50px;
	box-shadow: 0 2px 0 0 #385caa;
}

.profile--title {
	color: #ffffff;
	text-shadow: 2px 2px 0 rgb(27 53 110);
	font-size: 1.2rem;
	margin: 0;
}

.profile--title:first-child {
	text-transform: capitalize;
}

.card-image {
	min-height: 130px;
	width: 130px;
}

.card--type {
	border: 2px solid #fff;
	border-radius: 100px;
	height: 35px;
	position: absolute;
	right: 15px;
	top: 50px;
	width: 35px;
}

.btn-stats {
	color: #385caa;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 30%);
	font-size: 12px;
	display: block;
	margin: 15px auto 0 auto;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	width: 100px;
}

.btn-stats:hover {
	color: #fff;
	background: #3f5efb;
	background: linear-gradient(90deg, #3f5efb 0%, #46fcb1 100%);
}

.btn-stats:active {
	box-shadow: inset 0px 2px 6px 0px rgb(0 0 0 / 30%);
}