html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

#root {
	margin-bottom: 50px;
}

body {
	background-color: #e4e9ed;
	background-image: url(images/pokeball.png);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: -200px -60px;
	margin: 0;
	padding: 0 0 60px 0;
}

.container {
	height: inherit;
	margin: 0 auto;
	max-width: 1260px;
	position: relative;
	padding: 0 15px;
}

#header {
	margin: 20px 0;
	text-align: center;
}

.logo {
	max-width: 40%;
	min-width: 300px;
}

nav {
	margin: 30px 0;
}

.navtypes {
	position: relative;
}

.navtypes--wrapper {
	align-items: center;
	display: flex;
	flex-flow: wrap;
	gap: 10px;
	justify-content: center;
	margin: 0 auto;
}

.navlink {
	align-items: center;
	background-color: #d3d3d3;
	border-radius: 100px;
	color: #2774ba;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

.navlink p {
	margin: 0;
	padding: 0 16px 0 10px;
}

.navlink img {
	border-radius: 100px;
	border: 3px solid transparent;
	width: 40px;
}

.navlink:hover,
.navlink.active {
	background-color: #eb434b;
	color: #fff;
}

.navlink:hover img,
.navlink.active img {
	border: 3px solid #fff;
}

.pokedex--list {
	align-items: stretch;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
	grid-gap: 20px;
	margin-top: 20px;
	padding-inline-start: 0;
}

hr {
	border-top: 1px solid #8383838a;
	border-bottom: 1px solid #ffffff91;
}

#main {
	margin-bottom: 50px;
}

.poke-desc {
	text-align: justify;
}

#footer {
	background-color: #fff;
	background-image: url(images/pokeball.png);
	background-repeat: no-repeat;
	background-size: 130px;
	background-position: 80vw 6px;
	box-shadow: 0 -2px 8px 1px rgb(0 0 0 / 15%);
	margin: 0;
	padding: 0;
	height: 80px;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 1;
}

.footer--abilities>.capsule {
	text-transform: capitalize;
	font-size: 14px;
}

.button-group {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 10px;
	height: inherit;
}

.button-group button {
	align-items: center;
	border: 0 none;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 1rem;
	gap: 10px;
	height: 46px;
	justify-content: space-between;
	text-align: center;
	padding: 0 15px;
}

.button-group button[disabled] {
	cursor: not-allowed;
}

.button-group button span {
	display: inherit;
}

#next_btn {
	background-color: #3166b1;
}

#next_btn:active {
	background-color: #2055a0;
}

#prev_btn {
	background-color: #ed1b24;
}

#prev_btn:active {
	background-color: #da0a13;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.toast-parent {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9;
}

.toast--inner {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: inline-flex;
	gap: 10px;
	padding: 20px;
}

.toast {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.toast--inner>p {
	text-align: left;
}

.align-center {
	text-align: center;
}

.capsule {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 25%);
	display: inline-block;
	font-size: 11px;
	margin: 3px;
	padding: 4px 8px;
}

p.label {
	font-size: 12px;
	font-weight: bolder;
	margin: 0 0 8px 0;
	text-transform: uppercase;
}

.breadcrumb--parent {
	align-items: center;
	display: inline-flex;
}

.breadcrumb--parent a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.breadcrumb--parent img {
	margin: 0 5px;
}

.breadcrumb--btn {
	text-transform: capitalize;
	background-color: #eb434b;
	padding: 10px 14px;
	border-radius: 3px;
}

.breadcrumb--btn:hover {
	background-color: #ffcc01;
}

.breadcrumb--parent:last-child>img {
	display: none;
}

@keyframes bounce {
	20% {
		transform: translateY(-6px);
	}

	40% {
		transform: translateY(0px);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}

@media screen and (max-width: 1024px) {
	.navtypes--wrapper {
		display: grid;
		grid-auto-flow: column dense;
		grid-template-rows: 40px 40px;
		justify-content: flex-start;
		overflow-y: auto;
		padding-bottom: 15px;
	}

	.container {
		padding: 0 10px;
	}
}

@media screen and (max-width: 480px) {
	body {
		background-position: -150px -60px;
		background-size: 300px;
		padding-bottom: 20px;
	}

	#header {
		margin: 15px 0;
	}

	#footer {
		background-position: 85vw 6px;
		background-size: 70px;
		height: 50px;
	}

	.button-group button {
		font-size: 1rem;
		height: 35px;
		min-width: 70px;
	}

	.toast-parent {
		left: 0;
		top: 0;
		right: unset;
		width: 100%;
	}
}