/* .pokemonPage--bg {
	background-image: url("../assets/images/pokemon_profile_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 20px 0;
} */
p {
	margin: 0 0 10px 0;
}

.flexbox:last-child p {
	margin: 0;
}

.pokemonPage-wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.flexbox {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 1%;
	margin-bottom: 15px;
	flex-wrap: wrap;
}

.pokemonPage--name {
	color: #ffcc01;
	font-weight: 800;
	font-size: 3rem;
	margin: 0 0 15px 0;
	text-shadow: 3px 3px 0px rgb(27 53 110);
	text-transform: uppercase;
}

.flex-item {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px -2px rgb(0 0 0 / 25%);
	padding: 15px;
	width: 49%;
}

.flexbox.item-inherit {
	align-items: inherit;
}

.pokemonPage--sprites {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	margin-bottom: 15px;
}

.pokemonPage--sprites:last-child {
	margin-bottom: 0;
}

.pokemonPage--sprites>img {
	margin: 0 auto;
	width: 100px;
}

.text-center,
.pokemonPage--sprites {
	text-align: center;
}

.label {
	color: #2f68b3;
	margin-bottom: 20px !important;
}

.text-capital {
	text-transform: capitalize;
}

@media screen and (max-width: 767px) {
	.breadcrumb--btn {
		padding: 6px;
		font-size: .9rem;
	}

	.flexbox {
		margin-bottom: 0;
		gap: 0;
	}

	.flex-item {
		margin-bottom: 15px;
		width: 100%;
	}

	.pokemonPage--name {
		margin-bottom: 0;
	}
}